<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> <h1>Ânderson Sudo</h1> </header>
        <p> Estudante de Tecnologia em Análise e Desenvolvimento de Sistemas no IFSul campus Bagé. </br>
            Em busca de oportunidade para atuar como desenvolvedor.</br>
            Possuo destaque como front-end nas atividades acadêmicas, hackathons e em pequenos projetos.</p>
            <h3> Experiências </h3>
            <ul>Usina termelétrica CGT Eletrosul, Candiota-RS — Estagiário de T.I. </br>
                DESDE DE NOVEMBRO DE 2019 - FEVEREIRO DE 2022 </br>
                <ul>Dar suporte ao usuário, instalação do sistema operacional windows, </br>
                    SAP, MS Office, autocad, solidworks, substituição de hardware dos equipamentos, </br>
                    configuração de rede, instalação de impressoras, scanner para os usuários e </br>
                    backup dos dados dos computadores. </br>
                    E também elaboração de planilhas de controle de inventário de equipamentos de TI.</ul> 
            </ul>

            <ul>Prefeitura Municipal de Bagé, Bagé-RS — Estagiário de T.I </br>
                FEVEREIRO DE 2019 - NOVEMBRO DE 2019 </br>
                <ul>Auxiliava os usuários locais e, de maneira remota, os técnicos da T.I.</ul> 
            </ul>

            <ul>Escola Adventista de Pelotas, Pelotas-RS —Auxiliar Técnico de T.I. </br>
                ABRIL DE 2018 - MAIO DE 2018 </br>
                <ul>Responsável pela manutenção dos equipamentos e por divulgações nas redes sociais. </br></ul>
            </ul>

            <h3> Formação </h3>
            <ul><p>Instituto Federal de Educação, Ciência e Tecnologia Sul-rio grandense. </br>
                Bagé-RS — Superior incompleto</p>
                FEVEREIRO DE 2017 - ATUALMENTE CURSANDO </br>
            Cursando Tecnologia em Análise e Desenvolvimento de Sistemas.</ul>

            <h3> Cursos </h3>
            <ul> Introdução à pensamento computacional - Dio.me. </ul>
            <ul> Introdução ao Git - Dio.me. </ul>
            <ul> Introdução a criação de websites com HTML5 e CSS3 - Dio.me. </ul>
            <ul> <a href="http://localhost:3000/certificados">Lista de todos os certificados</a> </ul>
    </main>
    <aside>

    </aside>
</body>
</html>